@{
    ViewData["Title"] = "Formulaire";
    ViewData["MainTitle"] = "Formulaire TP HN Avis";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TPLOCAL1.Models.FormModel
@Html.ValidationSummary(false, "")

<nav>
    <ul>
        <li><a href="/Home">Accueil</a></li>
        <li><a href="/Home/Index/OpinionList">Liste des avis</a></li>
    </ul>
</nav>

<section>
    <form asp-controller="Home" asp-action="ValidationFormulaire" method="post">
        <table>
            <caption>Informations personelles</caption>
            <tbody>
                <tr> 
                    <td><label asp-for="LastName"></label> </td>                   
                    <td><input asp-for="LastName"/></td>

                </tr>
                <tr>
                    <td><label asp-for="FirstName"></label> </td>
                    <td><input asp-for="FirstName" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Sexe"></label></td>
                    <td>
                        <select asp-for="Sexe" asp-items="@new SelectList(TPLOCAL1.Models.FormModel.Sexes)">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Address"></label> </td>
                    <td><input asp-for="Address" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Zipcode"></label> </td>
                    <td><input asp-for="Zipcode" /></td>
                </tr>
                <tr> 
                    <td><label asp-for="Town"></label> </td>
                    <td><input asp-for="Town" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Email"></label> </td>
                    <td><input asp-for="Email" /></td>
                </tr>

            </tbody>
        </table>

        <table>
            <caption>Informations formation suivie</caption>
            <tbody>
                <tr>
                    <td><label asp-for="StartDate"></label> </td>
                    <td><input asp-for="StartDate" max="2021-01-01" value="2020-01-01" required/></td>
                </tr>
                <tr>
                    <td><label asp-for="TrainingType"></label> </td>
                    <td>
                        <select asp-for="TrainingType" asp-items="@new SelectList(TPLOCAL1.Models.FormModel.Trainings)">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <caption>Avis sur la formation</caption>
            <tbody>
                <tr>
                    <td><label asp-for="CobolTraining"></label> </td>
                    <td><input asp-for="CobolTraining" /></td>
                </tr>
                <tr>
                    <td><label asp-for="CSTraining"></label> </td>
                    <td><input asp-for="CSTraining" /></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Valider"/>
    </form>
</section>
