@model TPLOCAL1.Models.FormModel;
@Html.ValidationSummary(false,"")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>

    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN Avis</h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/Home/Index">Accueil</a></li>
                <li><a href="#">Liste des avis</a></li>
            </ul>
        </nav>

        <section>
            <form action="/Home/ValidationFormulaire" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Informations personelles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td> <label for="LastName">Nom</label> </td>
                            <td> <input type="text" name="LastName" id="LastName"/> </td>
                        </tr>
                        <tr>
                            <td> <label for="FirstName">Prénom</label> </td>
                            <td> <input type="text" name="FirstName" id="FirstName" /></td>
                        </tr>
                        <tr>
                            <td><label for="Sexe">Sexe</label></td>
                            <td> 
                                <select name="Sexe">
                                    <option value="">Select gender</option>
                                    <option value="Man">Man</option>
                                    <option value="Woman">Woman</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr> 
                            <td><label for="Address">Adresse</label></td>
                            <td><input type="text" name="Address" id="Address" /></td>
                        </tr>
                        <tr>
                            <td><label for="Zipcode">Code Postal</label></td>
                            <td><input type="text" name="Zipcode" id="Zipcode" /></td>
                        </tr>
                        <tr> 
                            <td><label for="Town">Ville</label>e</td>
                            <td><input type="text" name="Town" id="Town" /></td>
                        </tr>
                        <tr>
                            <td><label for="Email">Addresse mail</label></td>
                            <td><input type="email" name="Email" id="Email" /></td>
                        </tr>

                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Informations formation suivie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label for="StartDate">Start Date Training</label></td>
                            <td> <input type="date" max="2021-01-01" name="StartDate"/></td>
                        </tr>
                        <tr>
                            <td><label for="TrainingType">Type of training</label></td>
                            <td>
                                <select name="TrainingType">
                                    <option value="">Select course</option>
                                    <option value="Cobol">Cobol Training</option>
                                    <option value="Object">Object Training</option>
                                    <option value="DualSkills">Dual Skills Training</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <tr>
                            <th>Avis sur la formations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label for="CobolTraining">Cobol Training</label></td>
                            <td> <input type="text" name="CobolTraining" /></td>
                        </tr>
                        <tr>
                            <td><label for="CSTraining">C# Training</label></td>
                            <td> <input type="text" name="CSTraining" /></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Valider"/>
            </form>
        </section>
    </main>

</body>
</html>