@{
    ViewData["Title"] = "Liste des avis";
    ViewData["MainTitle"] = "Liste des avis";
}
@model IEnumerable<TPLOCAL1.Models.Opinion>;

<nav>
    <ul>
        <li><a href="/Home">Accueil</a></li>
        <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
    </ul>
</nav>

<section>
    <table>
        <caption>Liste</caption>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Avis</td>
            </tr>
        </thead>
        <tbody>
         
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                   
                    @if(item.OpinionGiven == "O") {
                        <td class="given">Oui</td>
                    } else  {
                        <td class="not-given">Non</td>
                    }                          
                </tr>
            }
        </tbody>
    </table>
</section>