<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HN - TP LOCAL</title>

    <link rel="stylesheet" href="~/resources/Index.css"/>
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN"/>
        <h1>Welcome to TP HN</h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
                <li><a href="/Home/Index/OpinionList">Liste des avis</a></li>
            </ul>
        </nav>

        <section>
            <p>
                <a href="/Home/Index/Form">Remplir le formulaire</a>
            </p>
        </section>
    </main>

</body>
</html>