@{
    ViewData["Title"] = "HN - TP LOCAL";
    ViewData["MainTitle"] = "Bienvenue dans le TP HN";
}

<nav>
    <ul>
        <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
        <li><a href="/Home/Index/OpinionList">Liste des avis</a></li>
    </ul>
</nav>

<section>
    <p>
        <a href="/Home/Index/Form">Remplir le formulaire</a>
    </p>
</section>
